{% extends 'base.html' %}


{% block meta_title %}
<title>About</title>
{% endblock meta_title %}


{% block body %}
<div class="py-5">
  <h1 class="display-1 mb-5">All About Finches</h1>
  <p class="lead">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Commodi aliquam, maxime voluptatibus eveniet officiis saepe.</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, quibusdam? Nulla repudiandae ad eum cumque, eaque est deserunt enim magni fugit culpa ipsa voluptate voluptas autem, neque animi? Accusamus voluptatum numquam distinctio inventore maiores eligendi odio sed fuga ducimus rem autem omnis, id, facere harum quam. Cupiditate reprehenderit dicta tempora!</p>
</div>
{% endblock body %}